/*.bak
/*.gschema.valid
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/org.gnome.desktop.a11y.applications.gschema.valid
/org.gnome.desktop.a11y.applications.gschema.xml
/org.gnome.desktop.a11y.applications.gschema.xml.in
/org.gnome.desktop.a11y.gschema.valid
/org.gnome.desktop.a11y.gschema.xml
/org.gnome.desktop.a11y.gschema.xml.in
/org.gnome.desktop.a11y.keyboard.gschema.valid
/org.gnome.desktop.a11y.keyboard.gschema.xml
/org.gnome.desktop.a11y.keyboard.gschema.xml.in
/org.gnome.desktop.a11y.magnifier.gschema.valid
/org.gnome.desktop.a11y.magnifier.gschema.xml
/org.gnome.desktop.a11y.magnifier.gschema.xml.in
/org.gnome.desktop.a11y.mouse.gschema.valid
/org.gnome.desktop.a11y.mouse.gschema.xml
/org.gnome.desktop.a11y.mouse.gschema.xml.in
/org.gnome.desktop.background.gschema.valid
/org.gnome.desktop.background.gschema.xml
/org.gnome.desktop.background.gschema.xml.in
/org.gnome.desktop.default-applications.gschema.valid
/org.gnome.desktop.default-applications.gschema.xml
/org.gnome.desktop.default-applications.gschema.xml.in
/org.gnome.desktop.enums.xml
/org.gnome.desktop.input-sources.gschema.valid
/org.gnome.desktop.input-sources.gschema.xml
/org.gnome.desktop.input-sources.gschema.xml.in
/org.gnome.desktop.interface.gschema.valid
/org.gnome.desktop.interface.gschema.xml
/org.gnome.desktop.interface.gschema.xml.in
/org.gnome.desktop.lockdown.gschema.valid
/org.gnome.desktop.lockdown.gschema.xml
/org.gnome.desktop.lockdown.gschema.xml.in
/org.gnome.desktop.media-handling.gschema.valid
/org.gnome.desktop.media-handling.gschema.xml
/org.gnome.desktop.media-handling.gschema.xml.in
/org.gnome.desktop.notifications.gschema.valid
/org.gnome.desktop.notifications.gschema.xml
/org.gnome.desktop.notifications.gschema.xml.in
/org.gnome.desktop.privacy.gschema.valid
/org.gnome.desktop.privacy.gschema.xml
/org.gnome.desktop.privacy.gschema.xml.in
/org.gnome.desktop.screensaver.gschema.valid
/org.gnome.desktop.screensaver.gschema.xml
/org.gnome.desktop.screensaver.gschema.xml.in
/org.gnome.desktop.search-providers.gschema.valid
/org.gnome.desktop.search-providers.gschema.xml
/org.gnome.desktop.search-providers.gschema.xml.in
/org.gnome.desktop.session.gschema.valid
/org.gnome.desktop.session.gschema.xml
/org.gnome.desktop.session.gschema.xml.in
/org.gnome.desktop.sound.gschema.valid
/org.gnome.desktop.sound.gschema.xml
/org.gnome.desktop.sound.gschema.xml.in
/org.gnome.desktop.thumbnail-cache.gschema.valid
/org.gnome.desktop.thumbnail-cache.gschema.xml
/org.gnome.desktop.thumbnail-cache.gschema.xml.in
/org.gnome.desktop.thumbnailers.gschema.valid
/org.gnome.desktop.thumbnailers.gschema.xml
/org.gnome.desktop.thumbnailers.gschema.xml.in
/org.gnome.desktop.wm.keybindings.gschema.valid
/org.gnome.desktop.wm.keybindings.gschema.xml
/org.gnome.desktop.wm.keybindings.gschema.xml.in
/org.gnome.desktop.wm.preferences.gschema.valid
/org.gnome.desktop.wm.preferences.gschema.xml
/org.gnome.desktop.wm.preferences.gschema.xml.in
/org.gnome.system.locale.gschema.valid
/org.gnome.system.locale.gschema.xml
/org.gnome.system.locale.gschema.xml.in
/org.gnome.system.proxy.gschema.valid
/org.gnome.system.proxy.gschema.xml
/org.gnome.system.proxy.gschema.xml.in
/so_locations
/tags
